button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}






.heroes, .heroes li {
  padding: 0;
  list-style: none;
}

.heroes li {
  width: 200px;
  height: 30px;
  background-color: #eee;
  position: relative;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
}

.heroes li .badge {
  display: inline-block;
  padding: 5px 8px;
  background-color: #607D8B;
  color: #fff;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.heroes li button {
  border: none;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #666;
  position: absolute;
  right: 0;
  height: 30px;
}

.heroes li:hover {
  left: 4px;
  color: #607D8B;
  background-color: #DDD;
  cursor: pointer;
}

.heroes li.selected {
  color: #607D8B;
  background-color: #DDD;
  cursor: pointer;
}

